<!-- usermenu/templates/usermenu/categories.html -->

<ul class="flex px-4 overflow-x-auto pb-4 mb-8 border-b border-solid border-black">
    {% for category in categories %}
    <li class="text-center">
        <a href="{% url 'content_with_category' category.id_category %}" 
           hx-get="{% url 'content_with_category' category.id_category %}"
           hx-target="#content-section" 
           hx-swap="innerHTML"
           class="block category-link"
           data-category-id="{{ category.id_category }}"
           aria-current="{% if category.id_category == selected_category %}page{% else %}false{% endif %}">
            <div 
                class="m-3 flex h-20 w-20 items-center justify-center rounded-full border-dashed border-2 
                {% if category.id_category == selected_category %}
                    border-blue-500 bg-blue-100
                {% else %}
                    border-gray-500 bg-white
                {% endif %}"
            >
                {% load svg %}
                {% svg 'categories/default' %}
            </div>
            <p 
                class="font-md-text font-semibold 
                {% if category.id_category == selected_category %}
                    text-blue-600
                {% else %}
                    text-gray-800
                {% endif %}"
            >
                {{ category.name }}
            </p>
        </a>
    </li>
    {% endfor %}
</ul>
