{% load static %}
<div>
  <!-- Title and close button-->
  <div class="sticky top-0">
    <div
      class="flex justify-between items-center bg-black space-x-8 px-4 pt-8 pb-4 sm:py-4"
    >
      <h2 class="font-title-xl text-white">{{ product.name }}</h2>
      <button
        class="btn btn-lg bg-none rounded-full self-start"
        onclick="closeModal()"
      >
        <svg
          class="w-auto h-12"
          viewBox="0 0 22 22"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M13.9993 14.0002L7.99994 8.00021M8.00058 14.0002L13.9999 8.00021"
            stroke="white"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M21 11C21 5.47715 16.5228 1 11 1C5.47715 1 1 5.47715 1 11C1 16.5228 5.47715 21 11 21C16.5228 21 21 16.5228 21 11Z"
            stroke="white"
            stroke-width="1.5"
          />
        </svg>
      </button>
    </div>
  </div>

  <!-- All of the page content-->
  <div class="p-4">
    {% for category in categories %}
    <div
      class="flex flex-row border-b-2 border-dashed border-gray-500 mb-4 pb-4"
    >
      <p class="text-white p-2 bg-black rounded-full">{{ category }}</p>
    </div>
    {% endfor %}
    <article class="rounded-lg border border-solid border-2 border-black mb-4">
      <p class="p-4 font-text-md">{{ product.description }}</p>
    </article>
    <div class="flex justify-center md:justify-start items-center mb-6 pb-6">
      <img
        src="{% static 'images/stock_instrument_large_image.png' %}"
        alt="{{ product.image_alt }}"
        class="w-auto max-w-[300px] md:max-w-[350px] h-auto rounded-lg"
      />
    </div>
    <div
      class="flex flex-row sticky bottom-12 border-t-2 bg-white bg-opacity-75 border-dashed border-gray-500"
    >
      <div class="w-1/2"><!-- Extras --></div>
      <div class="w-1/2 flex flex-col justify-end items-start space-y-4">
        <p class="font-title-xl">${{ product.price }}</p>
        <div class="flex flex-row space-x-2">
          <!-- Buttons row-->
          <button id="decrement-button" class="rounded-cta-black-medium px-2">
            <!-- Minus icon SVG -->
            <svg
              width="16"
              height="2"
              viewBox="0 0 16 2"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1.33337 1H14.6667"
                stroke="white"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </button>
          <input
            type="number"
            id="unit_numbers"
            name="unit_numbers"
            min="1"
            max="100"
            value="1"
            placeholder="1"
            class="p-2 w-16 border-2 border-solid border-black rounded-lg text-center"
          />
          <button id="increment-button" class="rounded-cta-black-medium px-2">
            <!-- Plus icon SVG -->
            <svg
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M10 3.33331V16.6666"
                stroke="white"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M3.33337 10H16.6667"
                stroke="white"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </button>
        </div>
        <button
          class="rounded-orange-cta-button p-2"
          id="add-to-cart-button"
          data-product-id="{{ product.id_product }}"
          data-product-name="{{ product.name }}"
          data-product-price="{{ product.price }}"
          onclick="closeModal()"
        >
          <p class="font-subtitle-lg">Agregar al carrito</p>
        </button>
      </div>
    </div>
  </div>
</div>
