<div class="w-full mt-4">
  <div class="">
    <div class="flex flex-col w-full">
      <div class="overflow-x-auto">
        <table class="table-auto w-full">
          <thead>
            <tr>
              <th class="py-2 px-4 border-b"></th>
              <th class="py-2 px-4 border-b text-left">Item</th>
              <th class="py-2 px-4 border-b text-left">Cantidad</th>
              <th class="py-2 px-4 border-b text-left">Precio</th>
              <th class="py-2 px-4 border-b text-left">Total</th>
            </tr>
          </thead>
          <tbody id="cart-table-body">
            {% for item in rows %}
            <tr id="cart-item-{{ item.product.id }}">
              <td class="py-2 px-4 border-b text-center">
                <button
                  hx-delete="{% url 'remove_from_cart' item.product.id_product %}"
                  hx-trigger="click"
                  hx-target="#shopping_cart"
                  hx-swap="innerHTML"
                  class="text-red-500 cursor-pointer"
                >
                  <!-- Trash Icon SVG -->
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3m-4 0h14"
                    />
                  </svg>
                </button>
              </td>
              <td class="py-2 px-4 border-b">{{ item.product.name }}</td>
              <td class="py-2 px-4 border-b">
                <form
                  hx-post="{% url 'add_to_cart' item.product.id_product %}"
                  hx-trigger="change, keyup changed delay:1.25s"
                  hx-params="unit_numbers"
                  hx-swap="innerHTML"
                  hx-target="#shopping_cart"
                  onkeydown="if(event.key === 'Enter') { event.preventDefault(); }"
                >
                  <input
                    type="number"
                    min="0"
                    max="100"
                    id="unit_numbers"
                    name="unit_numbers"
                    value="{{ item.quantity }}"
                    class="cart-item-quantity-input w-16 text-center border border-gray-300 rounded-md"
                  />
                </form>
              </td>
              <td class="py-2 px-4 border-b">{{ item.product.price }}</td>
              <td class="py-2 px-4 border-b cart-item-total">
                {{ item.subtotal }}
              </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="5" class="py-2 px-4 text-center">
                Your cart is empty.
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <!-- Cart Total -->
    <div class="flex flex-row justify-end mt-4">
      <div class="w-full md:w-1/4">
        <p class="text-xl font-bold pb-8">
          Total: <span id="cart-total">{{ subtotal }}</span>
        </p>
        <button
          hx-get="{% url 'checkout' %}"
          hx-target="#shopping_cart"
          hx-swap="innerHTML"
          class="rounded-orange-cta-button p-2"
        >
          <p class="font-title-xl font-bold">Create order</p>
        </button>
      </div>
    </div>
  </div>
</div>
